<div class="row mt-5 ">
    <div class="col-md-6">
      <div class="card card-body center-align index-card">      
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRugRqbksEOxPwtQlOcdGbpBXvBOliXIsJm_A&usqp=CAU">
        <h3 class="brand-logo">E-Kart</h3>
        <p>Create an account or login</p>
        <div class="section">
          <a href="/users/register" class="btn #0091ea light-blue accent-4">Register</a>
          <a href="/users/login" class="btn btn-secondary ">Login</a>
        </div>
      </div>
    </div>
  </div>
