<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body center-align">
        <h2 class="text-center mb-3">
         Register
        </h2>
        <form action="/users/register" method="POST">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" 
                    name="name" 
                    type="text" 
                    class="validate"
                    value="<%= typeof name != 'undefined' ? name : '' %>">
              <label for="name">Name</label>
              <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" 
              name='email' 
              type="email" 
              class="validate"
              value="<%= typeof email != 'undefined' ? email : '' %>">
              <label for="email">Email</label>
              <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
            </div>
          </div>
          <div class="input-field col s12">
            <select name="status" id="status">
              <option value="" disabled selected>Choose your role</option>
              <option value="customer">Customer</option>
              <option value="seller">Seller</option>
            </select>
            <label>Status</label>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" 
              name="password" 
              type="password" 
              class="validate" 
              value="<%= typeof password != 'undefined' ? password : '' %>">
              <label for="password">Password</label>
              <small>min. 6 character</small>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password2" 
              name="password2" 
              type="password" 
              class="validate"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
              <label for="password2">Confirm Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light blue" type="submit" name="action">REGISTER
            <i class="material-icons right">send</i>
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>


  